.invitationsGrid {
    max-width: 800px;
}

.counter {
    max-width: 800px;
}

.itemsSelector{
    max-width: 800px;
}

.commandSection{
    max-width: 800px;
}

.controlButton:hover{
    background-color: #ccc;
    font-weight: bold;
}

@media (max-width:768px) {
    .invitationsGrid {
        max-width: 100%;
    }
    .itemsSelector{
        max-width: 100%;
    }
    .counter {
        max-width: 100%;
    }
    .commandSection{
        max-width: 100%;
    }
}