@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');


.textContainer{
        color: white;
        font-family: "Tangerine";
        z-index: inherit;
        user-select:none;
        text-align:left;
        position: relative;
        width: 100vw;
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content:center;
        margin-bottom: 100px;
}

.textContainer a{
    font-family: "Poppins";
    font-size: 35px;
    outline: none;
    border: none;
    padding: 20px;
    margin-top: 5%;
    margin-left: 5%;
    background-color: white;
    color: black;
}

.textContainer a:link{
    text-decoration: none;
}

.textContainer a:hover{
    color: #58192C;
    font-weight: bold;

}

.textWrapper{
    z-index: +1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

.bigText{
    line-height: .8em;
    font-size:10em;
    margin-left: 5%;

}

.smallText{
    position: relative;
    font-size:5em;
    margin-left: 5%;

}



@media screen and (max-width:1380px){

    .textContainer{
        justify-content:flex-end;
    }
    .bigText{
        line-height: .8em;
        font-size:14vw;
        margin-left: 5%;
    }
    
    .smallText{
        font-size:6vw;
        margin-left: 5%;
    }
    
}

@media screen and (max-width:500px){
    .bigText{
        line-height: .8em;
        font-size:18vw;
        margin-left: 5%;
    }
    
    .smallText{
        font-size:8vw;
        margin-left: 5%;
    }
}



@keyframes updown {
    0%{
        bottom:20px;
    }

    50%{
        bottom:30px;
    }

    100%{
        bottom:20px;
    }
}


.bi-chevron-compact-down{
    animation: updown infinite ease-in-out 2s;
    position:absolute;
}

.imgSectionWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
