@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
.welcomeText{
    font-family: 'Great Vibes';
    font-size: 45px;
    color:white;
    text-shadow: 2px 2px black;
    position: absolute;
    bottom: 30%;
}


.textContainer{
        color: white;
        font-family: "Tangerine";
        z-index: inherit;
        user-select:none;
        text-align:left;
        position: relative;
        width: 90%;
        height: 90%;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content:center;
        margin-bottom: 100px;
}

.textWrapper{
    z-index: +1;
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigText{
    line-height: .8em;
    font-size:10vw;
    margin-left: 5%;

}

.smallText{
    position: relative;
    font-size:4vw;
    margin-left: 5%;

}



@media screen and (max-width:1380px){

    .textContainer{
        justify-content:flex-end;
    }
    .bigText{
        line-height: .8em;
        font-size:14vw;
        margin-left: 5%;
    }
    
    .smallText{
        font-size:6vw;
        margin-left: 5%;
    }
    
}

@media screen and (max-width:500px){
    .bigText{
        line-height: .8em;
        font-size:18vw;
        margin-left: 5%;
    }
    
    .smallText{
        font-size:8vw;
        margin-left: 5%;
    }
}



@keyframes updown {
    0%{
        bottom:20px;
    }

    50%{
        bottom:30px;
    }

    100%{
        bottom:20px;
    }
}


.bi-chevron-compact-down{
    animation: updown infinite ease-in-out 2s;
    position:absolute;
}

.imgSectionWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
