.myTextBox{
    width:80%;
    height: 35px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #eee;
    outline: none;
    background-color: transparent;
    color:white;

}
.myTextBox::placeholder{
    color: white;
}

.infoGrid{
    display:flex;
    flex-flow: row;
    justify-content: space-around;
}

@media screen and (max-width: 768px){
    .infoGrid{
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
    }
}