

.infoGrid{
    display:flex;
    flex-flow: row;
    justify-content: space-around;
}

.copyButton{
    background-color: #DAA520;
    padding: 0 10px 0 10px;
    border-radius: 0 6px 6px 0;
    color: white;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyButton:hover{
    cursor:pointer;
}

.myIban{
    color:white;
    display: flex;
    font-size: 20px;
    background-color: #bbb;
    border:none;
    width:50%;
    border-radius: 6px 0 0 6px;
    margin:10px 0 10px 0 ;
    height: 30px;
}

.ibanText{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    width: 80%;
}

.copyButton:active{
    color:#DAA520;
    background-color: white;
    border: 0.5px solid #DAA520;
}

/*FORM STYLING*/


.myForm{
    display: flex;
    flex-flow: column;
    width:70%;
    margin:30px;
    font-family: 'Poppins';
}

.formRow{
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 80px;
    padding: 20px;
}

.label{
    align-self: flex-start;
    margin-left: 10%;
}

.myTextBox{
    width:80%;
    height: 35px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #eee;
    outline: none;
    background-color: transparent;
    color:#DAA520;
}
.myTextBox::placeholder{
    color: #DAA520;
}

.goButton{
    background-color: #DAA520;
    border: none;
    border-radius: 6px;
    padding:10px;
    color:white;
    outline: none;
}

.goButton:active{
    background-color: white;
    border: 0.5px solid black;
    color:#DAA520;
}

.formQuestion{
    display: flex;
    flex-flow: column;
}

.formQuestion span{
    font-size: 30px;
}



@media screen and (max-width: 768px){
    .infoGrid{
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
    }

    .ibanText{
        display: flex;
        align-items: center;
        flex-flow: column;
        width: 100%;
    }
    .myIban{
        width: 70%;
        border-radius: 6px;
    }

    .copyButton{
        border-radius: 6px;
        padding:10px;
        margin-bottom: 10px;
    }

    .myForm{
        display: flex;
        flex-flow: column;
        width:100%;
        font-family: 'Poppins';
    }
}