.imgSectionWrapper{
    height:100vh;
}

.imgSection{
    height:100vh;
}

.myText{
    background-color:red;
    position: absolute;
    top:50%;
    left:50%;
}

.img{
    width:100vw;
    height:100vh;
}


